#checkbox-grid li {
  display: block;
  float: left;
  width: 20%;
  padding-bottom: 10px;
}

.highlighted {
  background-color: red;
}

li input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}